apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: order-system
spec:
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
        - name: inventory-service
          image: inventory-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_CONFIG_IMPORT
              value: optional:configserver:http://config-server:8888
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://eureka-server:8761/eureka/
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres-db:5432/inventorydb
            - name: SPRING_DATASOURCE_USERNAME
              value: postgres
            - name: SPRING_DATASOURCE_PASSWORD
              value: postgres
          envFrom:
            - configMapRef:
                name: inventory-config
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: order-system
spec:
  selector:
    app: inventory-service
  ports:
    - port: 8081
      targetPort: 8081
  type: ClusterIP
