server:
  port: 8081

spring:
  application:
    name: inventory-service

  config:
    import: optional:configserver:http://config-server:8888

  datasource:
    url: jdbc:postgresql://postgres-db:5432/inventorydb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      indent_output: true

  kafka:
    bootstrap-servers: kafka-service:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

  cloud:
    kubernetes:
      config:
        name: inventory-service
        namespace: order-system
        enable-api: true
      reload:
        enabled: true
        strategy: refresh
        mode: event
        monitoring-config-maps: true

inventory:
  threshold: ${inventory.threshold:10}   #  matches ConfigMap key exactly

management:
  endpoints:
    web:
      exposure:
        include: refresh, env, health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
  security:
    enabled: false

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

jwt:
  secret: ${JWT_SECRET:ThisIsASecretKeyForJwtGenerationPresight2025!}
  expiration: ${JWT_EXPIRATION:3600000}

logging:
  level:
    root: INFO
    org.springframework.cloud.kubernetes: DEBUG
    ai.presight.inventoryservice: DEBUG
